<section class="background-radial-gradient overflow-hidden min-vh-100 d-flex justify-content-center align-items-center">


    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">

        <div class="row gx-lg-5 align-items-center mb-5">

            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-3 display-5 fw-bold ls-tight" style="color: hsl(256, 86%, 92%)">
                Jarvis<br />
                <span class="fw-normal" style="color: hsl(261, 82%, 79%)">Asistente Personal</span>
                </h1>
                <p class="mb-4 opacity-70 text-light">
                    JF - RB
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>

                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    
                    <div class="card-body px-4 py-5 px-md-5">
                        <form class="row gx-3" #formLogin="ngForm">

                            <h2 class="mb-4 fw-bold text-primary">Iniciar sesión</h2>

                            <div class="form-outline mb-4">
                                <label class="form-label">Usuario</label>
                                <input type="text" class="form-control" placeholder="Ej: usuario123" [(ngModel)]="loginUser.numberIdentity" name="numberIdentity" />
                            </div>

                            <div class="form-outline mb-2">
                                <label class="form-label">Contraseña</label>
                                <input type="password" class="form-control" placeholder="************" [(ngModel)]="loginUser.password" name="password" />
                            </div>

                            <div class="d-grid gap-2 mt-4">
                                <button (click)="login(formLogin)" class="btn btn-primary" type="button">Ingresar</button>
                            </div>

                        
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


<style>
    .background-radial-gradient {
        background-color: hsl(278, 100%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 66%, 8%) 15%,
            hsl(271, 78%, 11%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(266, 47%, 56%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
    }

    #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
    }

    #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
    }

    .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
    }
</style>