<div class="container mb-5">
    <h3 class="text-center mt-4 mb-5 text-primary">Empresa</h3>

    <form class="row gx-3">

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">NIT</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Razón Social</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <input type="number" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Teléfono</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Dirección</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <input type="number" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Correo Electrónico</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <select class="form-select" id="exampleSelect1">
                    <option disabled selected>Seleccione</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <label for="exampleSelect1">Configuración Facturación</label>
            </div>
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
        
    </form>

</div>
