<div class="container mb-5">
  <h3 class="text-center mt-4 mb-5 text-primary">Configuración</h3>

  <div class="row g-4">
    <!-- Card 1 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">Usuarios</h5>
          <p class="card-text">Gestión de usuarios</p>
          <a href="#" class="btn btn-primary">Gestionar</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">Clientes y empresas</h5>
          <p class="card-text">Gestión de clientes y empresas</p>
          <a routerLink="/main/empresa" class="btn btn-primary">Gestionar</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">Facturación</h5>
          <p class="card-text">Gestión de opciones de facturación</p>
          <a routerLink="/main/facturacion" class="btn btn-primary">Gestionar</a>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">Categorías</h5>
          <p class="card-text">Gestión de las categorías de los productos</p>
          <a routerLink="/main/categoria" class="btn btn-primary">Gestionar</a>
        </div>
      </div>
    </div>

  </div>
</div>
