<div class="container mb-5">
    <h3 class="text-center mt-4 mb-5 text-primary">Configuración de Facturación</h3>

    <form class="row gx-3">

        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Tipo de Factura</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Régimen Fiscal</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="number" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Banco</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Número de Cuenta Bancaria</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <select class="form-select" id="exampleSelect1">
                    <option disabled selected>Seleccione</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <label for="exampleSelect1">Tipo de Cuenta Bancaria</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Método de Pago</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Número de Resolución DIAN</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Prefijo Factura</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Factura Desde</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Factura Hasta</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="form-floating">
                <input type="date" class="form-control" id="tipoDocumento" placeholder="name@example.com">
                <label for="tipoDocumento">Fecha de Vencimiento Resolución DIAN</label>
            </div>
        </div>

        <div class="col-md-12 mb-4">

            <div class="form-control">

                <label>Está vigente la resolución de la DIAN?</label>
    
                <div class="mt-2">
                    
                    <input class="form-check-input me-2" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    <label class="form-check-label" for="optionsRadios1">
                        Si
                    </label>
                </div>
    
                <div class="mt-2">
                    
                    <input class="form-check-input me-2" type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <label class="form-check-label" for="optionsRadios1">
                        No
                    </label>
                </div>

            </div>

        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
        
    </form>
</div>